@import '../../Partials/_mixins.scss';
@import '../../Partials/_variables.scss';

.footer1 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 16px;
    @include tablet {
        margin-top: 40px;
        flex-direction: row-reverse;
        align-items: center;
        padding: 0 24px;
    }
    @include desktop {
        width: 100%;
        padding: 0 128px;
        box-sizing: border-box;
    }
    &__button {
        width: 100%;
        border-radius: 6px;
        border: none;
        background-color: #0095FF;
        color: #FFFFFF;
        height: 50px;
        font-size: 16px;
        @include tablet {
            width: 160px;
            margin-left: 48px;
        }
    }
    &__cancel {
        padding: 24px 0;
        color: #0095FF;
        text-decoration: none;
        text-align: center;
        font-weight: 900;
    }
}