@import '../../Partials/_mixins.scss';
@import '../../Partials/_variables.scss';

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 169px;
    @include tablet {
        box-sizing: border-box;
        padding: 0 24px;
        height: 80px;
        flex-direction: row;
    }
    @include desktop {
        padding: 0 128px;
    }
    &__text{
        padding: 0 16px 8px;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        @include tablet {
            box-sizing: border-box;
            padding: 16px 24px 16px 169px;
        }
        @include desktop {
            padding-left: 300px;
        }
        &--1{
            width: 100%;
            border-radius: 4px;
            border: solid 2px #AFAFAF;
            box-sizing: border-box;
            padding: 15px 40px;

            background: url('../../../assets/Icons/SVG/Icon-search.svg') left no-repeat;
            background-position-x: 15px;
        }
    }
    &__image{
        padding: 12px 0;
    }
    &__display {
        display: flex;
        width: 100%;
        padding: 0 16px;
        box-sizing: border-box;
        position: relative;
        @include tablet{
            padding: 0;
            width: auto;
        }
        &--form {
            width: 100%;
            margin-right: 16px;
            text-decoration: none;
        }
        &--image{
            width: 55px;
            height: 50px;
            border-radius: 50%;
        }
        &--button{
            margin-right: 16px;
            width: 100%;
            border-radius: 4px;
            border: none;
            background-color: #0095FF;
            padding-left: 20px;
            color: #FFFFFF;
            display: flex;
            justify-content: center;
            height: 50px;
            font-size: 16px;
            font-weight: 600;
            @include tablet {
                width: 100px;
                padding: 0;
                margin: 0;
                margin-right: 24px;
            }
            &-image{
                padding-right: 20px;
                @include tablet {
                    padding: 0;
                }
            }
        }
    }
}


